[submodule "pytorch"]
	path = pytorch
	url = git@github.com:ljk53/pytorch
	branch = upytorch
[submodule "micropython"]
	path = micropython
	url = git@github.com:micropython/micropython
[submodule "esp32/esp-idf"]
	path = esp32/esp-idf
	url = https://github.com/espressif/esp-idf.git
